# Environment files
backend/.env
frontend/.env
frontend/.env.local
frontend/.env.development.local
 

# Build and dependency directories
backend/target/
frontend/dist/
frontend/node_modules/
node_modules/


*.log
.DS_Store
.idea/
.vscode/
*.iml
*.class

*.war
*.ear
*.db
*.sql
*.sqlite
*.bak
*.backup
*.swp
*.swo
*.tmp
*.log

admin_insert.sql
query